<div class="px-6 pt-28 md:px-12 lg:px-20">
  <div class="flex justify-between">
    <button class="btn px-3 btn-ghost  capitalize gap-2" (click)="back()">
      <i class="fi fi-br-angle-left"></i>
      Back
    </button>
    <span></span>
  </div>

  <div class="w-full">
    <h2 class="mx-auto text-center font-semibold text-xl">{{school.school_name}}</h2>
    <p class="mx-auto text-center font-medium text-lg">{{school.school_location}}</p>

    <div class="flex justify-center gap-2 w-fit mx-auto rounded-xl bg-accent h-11 px-3">
      <i class="fi fi-sr-badge-check my-auto" style="color: var(--grey-dark);"></i>
      <span class="text-2xl font-semibold my-auto" style="color: var(--grey-light);">{{transporters.length}}</span>
      <div class="flex flex-col my-auto">
        <span class="text-xs font-semibold my-0 -mb-1" style="color: var(--grey-light);">Verified</span>
        <span class="text-xs font-semibold my-0" style="color: var(--grey-light);">Transporters</span>
      </div>
    </div>

    <div class="w-full my-10 flex justify-center">
      <button [ngClass]="load ? 'btn btn-error capitalize loading' : 'btn capitalize btn-error'" (click)="removeSchool()" *ngIf="!school.is_deleted">
        <span>{{message}}</span>
      </button>

      <button
        *ngIf="school.is_deleted"
        class="btn btn-accent capitalize">
        {{message}}
      </button>
    </div>


  </div>






</div>
