<div class="px-4 pt-12 md:pt-20 md:px-10 lg:px-14">
  <div class="flex justify-between">
    <button class="btn px-0 btn-ghost capitalize gap-2" (click)="back()">
      <i class="fi fi-br-angle-left"></i>
      Back
    </button>
    <span></span>
  </div>

  <div class="profile flex justify-items-start gap-3 w-full h-36 image-side">
    <div class="relative image-side h-fit">
    <img
      class="w-32 h-32 md:w-40 md:h-40 object-cover rounded-2xl my-auto"
      [src]="vehicles.vehicle.driver_image"
      alt=""
    />

<label for="my-modal-4" class="btn-ghost h-6 md:h-7 shadow rounded-b-2xl absolute bottom-0 w-full text-xs text-center capitalize font-normal text-white " style="background-color:var(--grey-dark);">View vehicle</label>

</div>

<input type="checkbox" id="my-modal-4" class="modal-toggle" />
<label for="my-modal-4" class="modal cursor-pointer px-2">
  <label class="modal-box relative w-full h-96" for="" style="background-image:linear-gradient(to bottom, rgba(245, 246, 252, 0),rgba(245, 246, 252, 0),rgba(245, 246, 252, 0), rgb(0, 0, 0)),url({{vehicles.vehicle.vehicle_image}}) ; background-repeat: no-repeat; background-size: cover; background-position: center;">
   <h1 class="absolute bottom-0 text-sm text-white opacity-60 font-medium">{{ vehicles.vehicle.brand }} {{ vehicles.vehicle.model }} <span class="text-xs font-light">owned by {{ vehicles.owner.name }} {{ vehicles.owner.surname }}</span></h1>
  </label>
</label>

    <div class="details flex flex-col justify-between">
      <div class="contacts flex flex-col">
        <span class="font-semibold w-48"
          >{{ vehicles.vehicle.driver_name }}
        </span>
        <div class="contact flex flex-col">
          <span class="text-sm -my-1 text-primary"
            >{{ vehicles.vehicle.brand }} {{ vehicles.vehicle.model }}</span
          >
          <span class="text-sm text-primary"
            >{{ vehicles.vehicle.vehicle_reg }}
            {{ vehicles.vehicle.color }}</span
          >
        </div>
        <button
          class="btn btn-sm px-2 text-xs py-0 h-5 btn-ghost w-28 text-primary gap-1 rounded-md"
          style="background-color: var(--secondary-color)"
        >
          <i class="fi fi-rr-chart-line-up"></i>
          {{ vehicles.owner.ratings | number : "1.1-1" }}
          <div
            class="vl my-auto rounded-sm mx-1"
            style="
              border-left: 1px solid rgba(219, 219, 219, 0.545);
              height: 20px;
            "
          ></div>
          <div
            class="flex flex-col justify-start text-xs text-start lowercase gap-0"
          >
            <span *ngIf="vehicles.owner.votes > 50">50+</span>
            <span [hidden]="vehicles.owner.votes > 50">{{
              vehicles.owner.votes
            }}</span>
            <span class="-mt-1">Voted</span>
          </div>
        </button>

        <h3 class="text-primary my-1">
          {{ vehicles.request.price.replace("$", "R") }}
        </h3>
        <span class="text-xs text-gray-700"
          >Vehicle owned by
          <span class="font-semibold"
            >{{ vehicles.owner.name }} {{ vehicles.owner.surname }}</span
          ></span
        >
      </div>
    </div>
  </div>

  <form [formGroup]="registerForm1" (ngSubmit)="onSubmit(registerForm1)" class="form flex-col gap-4">

    <div class="form-control gap-1 my-1">
      <label for="first-name" class="block text-sm font-medium text-gray-700"
      >Message(optional)</label
    >
    <textarea
      formControlName="message"
      id="name"
      required="true"
      class="input w-full h-24 py-2 text-black bg-accent bg-opacity-50 placeholder:text-accent-focus"
      placeholder="Type message here"></textarea>
    </div>

    <div class="form-control gap-1 my-">
      <label for="last-name" class="block text-sm font-medium text-gray-700"
      >Pick up address</label
    >
    <input
      minlength="2"
      formControlName="address"
      id="name"
      required="true"
      class="input w-full h-10 text-black bg-accent bg-opacity-50 placeholder:text-accent-focus"
      placeholder="Enter address"
    />
    </div>

    <div class="form-control gap-1 my-1 relative">
      <span class="badge badge-sm badge-primary text-white font-medium absolute right-0">{{vehicles.vehicle.avail_seats}} available seats</span>
      <label for="first-name" class="block text-sm font-medium text-gray-700"
      >Number of kids</label
    >
   <div class="flex gap-2 justify-start place-items-center">
    <div class="btn btn-sm btn-primary rounded-xl text-white" (click)="decrease()">-</div>

    <input

    formControlName="num_kids"
    id="num_kids"
    required
    type="text"
    [value]="seats"
    class="input text-black bg-accent bg-opacity-50 text-sm w-12 text-center  placeholder:text-accent-focus"
  />
  <div *ngIf="showAdd" class="btn btn-sm btn-primary rounded-xl text-white" (click)="increase()">+</div>

   </div>
    </div>

    <div class="form-control gap-1 my-1">
      <label for="last-name" class="block text-sm font-medium text-gray-700"
      >Description</label
    >

    <textarea
    formControlName="description"
    id="name"
    required="true"
    class="input w-full h-24 py-2 text-black bg-accent bg-opacity-50 placeholder:text-accent-focus"
    placeholder="Type message here"></textarea>
  </div>

    <div class="flex w-full justify-center"><button
      type="submit"
      class="btn btn-primary my-3 mx-auto px-10 md:px-16 text-white capitalize font-normal rounded-2xl"
    >
      submit
    </button></div>

  </form>
</div>
