<div class="px-4 mt-8 w-full pt-12 lg:px-16">
  <!-- Only if there are no requests
  <div class="hero" *ngIf="requestsView.length == 0 ">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">Ooh No!!</h1>
        <p class="py-6">You currently have no request. Try submitting some applications.</p>
        <button class="btn btn-info rounded-2xl capitalize " routerLink="/owner-home">Start applying</button>
      </div>
    </div>
  </div> -->

 <div class="head" *ngIf="requestsView.length > 0 " >
  <span class="font-semibold md:text-lg">Requests</span>
  <p class ="text-xs md:text-base mb-2 md:mb-4">Looks like you have some requests</p>
 </div>

  <div class="flex flex-col gap-2 ">
    <label
      for="my-modal-4"
      class="flex px-2 py-1 justify-between h-24 w-full bg-accent mx-auto cursor-pointer rounded-xl relative"
      *ngFor="let request of requestsView; index as i"
      (click)="setIndex(i)">

      <div class="parent flex justify-start transition-all hover:scale-95">
        <img
          class="w-20 h-20 object-cover rounded-xl my-auto"
          [src]="request.parent.image"
          alt=""
        />
        <div class="flex flex-col justify-between py-2 pl-4">
          <div class="details ">
            <div class="name font-medium">
              {{ request.parent.name }} {{ request.parent.surname }}
            </div>
            <div class="text flex text-xs w-40 md:w-fit ">
              <p style="color: var(--grey-light)" class="school-name overflow-hidden text-ellipsis">
                {{ request.school.school_name }} </p>
            </div>
          </div>
          <div class="badge badge-info text-sm" *ngIf="request.request.num_kids == 1">
            {{request.request.num_kids}} Child
          </div>
          <div class="badge badge-info text-sm" *ngIf="request.request.num_kids > 1">
            {{request.request.num_kids}} Children
          </div>
        </div>
      </div>

      <div class="menu-request my-auto">
        <div class="dropdown dropdown-bottom dropdown-end" *ngIf="request.request.status == 'PENDING'">
          <label tabindex="0" class="btn btn-ghost rounded-full my-auto">
            <i class="fi fi-br-menu-dots-vertical"></i>
          </label>
          <ul tabindex="0" class="menu menu-compact dropdown-content mt-1 p-2 shadow bg-base-100 rounded-box w-fit">
            <li><a class="active:bg-info active:text-white" (click)="accept(request.request.request_id)">Accept<i class="fi fi-br-check text-base"></i></a></li>
            <li><a (click)="setReject(request.request.request_id,i)" class="active:bg-info active:text-white w-full"><label for="my-modal-6" class="">Decline</label><i class="fi fi-br-cross"></i></a></li>
          </ul>
        </div>


      </div>
      <span *ngIf="request.request.status == 'PENDING'" class="badge badge-info absolute top-0 right-0 text-xs">New</span>
      <span *ngIf="request.request.status == 'ACCEPTED'" class="badge badge-neutral text-white absolute rounded-none rounded-tr-2xl rounded-bl-2xl top-0 right-0 text-xs">Accepted</span>
    </label>

    <input type="checkbox" id="my-modal-4" class="modal-toggle" />
    <label for="my-modal-4" class="modal cursor-pointer">
      <label class="modal-box relative" for="">

        <div class="flex gap-2">
          <div class="avatar">
            <div class="mask mask-squircle w-12 h-12">
              <img [src]="requestsView[index].parent.image"alt="Avatar image" />
            </div>
          </div>
          <div>
            <div class="font-bold">{{requestsView[index].parent.name}} {{requestsView[index].parent.surname}}</div>
            <div class="text-sm opacity-50">{{requestsView[index].school.school_name}}</div>
          </div>
        </div>

        <div class="divider"></div>

        <div class="flex flex-col justify-start">
          <label for="" class="text-sm text-neutral">Number of children</label>
          <div class="flex justify-start gap-2 place-items-center">
            <i class="fi fi-rr-child-head my-auto"></i>
            <p class="py-2 text-sm font-bold my-auto">{{requestsView[index].request.num_kids}}</p>
          </div>
        </div>

        <div class="flex flex-col justify-start">
          <label for="" class="text-sm text-neutral">Pick up address</label>
          <div class="flex justify-start gap-2 place-items-center">
            <i class="fi fi-rr-marker my-auto"></i>
            <p class="py-2 text-sm font-bold my-auto">{{requestsView[index].request.address}}</p>
          </div>
        </div>

        <div class="flex flex-col justify-start">
          <label for="" class="text-sm text-neutral">Description</label>
          <div class="flex justify-start gap-2 place-items-center">
            <i class="fi fi-rr-marker my-auto"></i>
            <p class="py-2 my-auto">{{requestsView[index].request.description}}</p>
          </div>
        </div>

        <div class="flex flex-col justify-start" *ngIf="requestsView[index].request.message.length > 0 ">
          <label for="" class="text-sm text-neutral">Special message</label>
          <div class="flex justify-start gap-2 place-items-center">
            <i class="fi fi-rr-marker my-auto"></i>
            <p class="py-2 my-auto">{{requestsView[index].request.message}}</p>
          </div>
        </div>


      </label>
    </label>

    <input type="checkbox" id="my-modal-6" class="modal-toggle" />
    <div class="modal modal-bottom sm:modal-middle">
      <div class="modal-box">
        <h3 class="font-bold text-lg">Feedback for rejection</h3>
        <form action="" class="form w-full" [formGroup]="feedbackForm" (ngSubmit)="decline(feedbackForm)">
          <div class="form-control">
            <label for="input" class="label">Feedback</label>
            <select type="text" class="input input-accent" formControlName="feedback">
              <option value="Vehicle Overload">I dont have space left</option>
              <option value="Pick up address is too far">Out of my work region</option>
              <option value="Not specify">Other...</option>
            </select>
          </div>
          <div class="modal-action">
            <label for="my-modal-6" class="btn btn-info capitalize font-normal rounded-2xl">Close</label>
            <button [ngClass]="load? 'btn btn-info capitalize font-normal rounded-2xl loading': 'btn btn-info capitalize font-normal rounded-2xl'" type="submit">Decline</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>

