
  <div class="px-2 pt-32 md:px-10 lg:px-14">
    <div class="search-bar px-2 md:px-10 w-full justify-center fixed top-5 pt-10 pb-12">
      <div class="flex justify-center lg:mx-auto content-center">
        <input
          type="text"
          [(ngModel)]="searchSchool"
          placeholder="Search a school…"
          class="input w-72 md:w-2/4 bg-accent text-center -ml-4 placeholder:text-centerS rounded-full" />
        <label
          class="-ml-9 my-auto content-center"
          style="color: var(--grey-dark)">

          <i class="fi fi-rr-search my-auto">
          </i>

        </label>
      </div>
    </div>
<br>
<h4>Featured Schools</h4>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 w-full place-items-center gap-x-2 gap-y-2">
        <div
          class="grid-item schools w-full h-40 lg:h-32 max-w-xs rounded-3xl px-3 py-4"


          *ngFor="let record of data | filter:searchSchool; let x = index" (click) = "viewSchool(record.school_id)">


          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-mortarboard" viewBox="0 0 16 16"  style="color: #F18420;">
            <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5ZM8 8.46 1.758 5.965 8 3.052l6.242 2.913L8 8.46Z"/>
            <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Zm-.068 1.873.22-.748 3.496 1.311a.5.5 0 0 0 .352 0l3.496-1.311.22.748L8 12.46l-3.892-1.556Z"/>
          </svg>
          <div class="flex flex-col justify-start gap-1">

            <h2 class="school_name font-bold text-base w-full text-black">
              {{record.school_name }}
            </h2>
            <div class="text-primary" >
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4" style="color:#A3B4A2 ;">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                  </svg>

              <span class="text-xs " style="color:#A3B4A2;">{{record.school_location }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>


