<section class="bg-gray-50 dark:bg-gray-900 pt-8 md:pt-1">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
          <img class="w-3/5 h-auto mx-auto" src=" ../../../assets/Logo & Slogan.png" alt="logo">
       
      </a>
      <div class="w-full p-6 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md dark:bg-gray-800 dark:border-gray-700 sm:p-8">
          <h2 class="mb-1 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
            Reset Password
          </h2>
          <form
    [formGroup]=" resetPassword"
    (ngSubmit)="onResetPassword(resetPassword)"
    class="w-full mx-auto"> <!--  -->

   <div class="form-control">
    <label for="" class="label">Email address</label>
    <input          
    [email]="true"
    formControlName="email"
    id="email-address"
    required
    class="input w-full h-12 bg-accent placeholder:text-"
    placeholder="Email address">
    <div *ngIf="submitted && formValidation['email'].errors" class="invalid-feedback">
      <div *ngIf="formValidation['email'].errors['required']" class="text-xs">Email is required</div>
      <div *ngIf="formValidation['email'].errors['email']" class="text-xs">Email is invalid</div>
    </div>
   </div>
   <div class="form-control">
    <label for="" class="label">Password</label>
    <input          
    type="password"
    formControlName="password"
    required
    class="input w-full h-12 bg-accent"
    placeholder="Password">
    <div *ngIf="submitted && formValidation['password'].errors" class="invalid-feedback">
        <div *ngIf="formValidation['password'].errors['required']" class="text-xs">Password is required</div>
        <div *ngIf="formValidation['password'].errors['minLength']" class="text-xs">Password is too short</div>
        <div *ngIf="formValidation['password'].errors['pattern']" class="text-xs">Passoword is invalid</div>
      </div>
   </div>
   <div class="form-control">
    <label for="" class="label">Confirm password</label>
    <input          
    formControlName="confirmpassword"
    type="password"
    required
    class="input w-full h-12 bg-accent placeholder:text-"
    placeholder="Confirm password">
    <div *ngIf="submitted && formValidation['confirmpassword'].errors" class="invalid-feedback">
      <div *ngIf="formValidation['confirmpassword'].errors['required']" class="text-xs">Password is required</div>
    </div>
   </div>

   

    <div class="modal-action">
      <button type="submit" class="btn btn-primary capitalize font-normal rounded-2xl mx-auto">Submit</button>
    </div>
  </form>
      </div>
  </div>
</section>