#email{
    margin-right: 20;
}


#img{

  margin-left: 15%;

}
   
.btn{

    padding: 10px;
    margin-left: 10%;
    background-color:#FFDAAE;
    color:black;
    border-radius: 25px;
    width: 80%;
  }
  
