<div class="px-6 mt-4">
  <div class="flex justify-between">
    <button class="btn px-0 btn-ghost capitalize gap-2" (click)="back()">
      <!--
      (click)="back()" -->
      <i class="fi fi-br-angle-left"></i>
      Back
    </button>
    <span></span>
  </div>

  <div class="w-full">
    <h2 class="mx-auto text-center font-semibold text-xl">{{ schoolName }}</h2>
    <p class="mx-auto text-center font-medium text-lg">{{ schoolLocation }}</p>

    <div
      class="flex justify-center gap-2 w-fit mx-auto rounded-xl bg-accent h-11 px-3"
    >
      <i
        class="fi fi-sr-badge-check my-auto"
        style="color: var(--grey-dark)"
      ></i>
      <span
        class="text-2xl font-semibold my-auto"
        style="color: var(--grey-light)"
        >{{ transporters.length }}</span
      >
      <div class="flex flex-col my-auto">
        <span
          class="text-xs font-semibold my-0 -mb-1"
          style="color: var(--grey-light)"
          >Verified</span
        >
        <span
          class="text-xs font-semibold my-0"
          style="color: var(--grey-light)"
          >Transporters</span
        >
      </div>
    </div>

    <div class="mt-5 md:col-span-2 md:mt-0">
      <form [formGroup]="priceInputForm" class="form">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Set monthly fee</span>
          </label>
          <div class="relative">
            <div
              class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
            >
              <span class="">R</span>
            </div>
            <input
              type="number"
              formControlName="price"
              name="price"
              id="price"
              class="input bg-accent pl-6"
              formControlName="price"
              placeholder="0.00"
            />
            <div class="absolute inset-y-0 right-0 flex items-center">
              <label for="currency" class="sr-only">Currency</label>
            </div>
          </div>
        </div>

        <div class="form-control w-full max-w-xs">
          <label class="label">
            <span class="label-text">Vehicles</span>
          </label>
          <select class="select bg-accent" formControlName="vehicle_id">
            <option disabled [defaultSelected]="true">Select Vehicle</option>
            <option
              *ngFor="let vehicle of vehicle"
              [value]="vehicle.vehicle_id"
            >
              {{ vehicle.brand }} {{ vehicle.model }}
            </option>

          </select>
        </div>

        <div class="w-full pt-5 flex justify-center">
          <button
            type="submit"
            id="button"
            class="btn btn-info rounded-2xl capitalize font-normal"
            (click)="onSubmit(priceInputForm)"
          >
            Submit Application
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
