
<div class="container w-full mx-auto px-6 py-6   md:px-12">
  <img
    class="logo w-60 mx-auto my-1 md:my-4"
    id="logo"
    src="../../../assets/Logo & Slogan.png"
    alt="Backimage"
  />
  <img
    class="logo-transparent fixed top-0 -right-20 w-60"
    id="logo"
    src="../../../assets/Transparent Logo.png"
    alt="Backimage"
  />
  <img
    class="logo-transparent fixed bottom-10 -left-20 w-60"
    id="logo"
    src="../../../assets/Transparent Logo.png"
    alt="Backimage"
  />

  <p class="my-3 w-36 mx-auto md:hidden text-center text-gray-900">
    Sign in and get a ride for your child
  </p>

  <div class="flex justify-center mx-auto">
    <div class="left-tab hidden md:block bg-accent w-80 px-8 py-16 -mr-4 rounded-l-3xl shadow-lg">
      <h2 class="text-primary font-bold text-5xl">Sign <span style="color: var(--main-dark);">In</span></h2>
      <p class="w-52 my-3">Welcome to <span class="font-bold">Skoolify</span><br> Sign in and get a ride for your child</p>

    </div>
    <div
      class="right-tab flex w-80 flex-col mx-auto shadow-lg md:mx-0 justify-center rounded-3xl h-80 px-7 md:px-12"
      style="background-color: var(--grey-dark)"
    >
      <form
        [formGroup]="loginForm1"
        (ngSubmit)="onlogin(loginForm1)"
        class="w-full mx-auto"

      >
        <div class="w-full">

            <div class="">

              <div class="form-control">
                <label for="email-address" class="label text-accent">Email</label>
                <input
                  [email]="true"
                  formControlName="email"
                  id="email-address"
                  required
                  class="input w-full h-10 text-white bg-accent bg-opacity-50 placeholder:text-accent"
                  placeholder="Email address"
                />
                <div *ngIf="submitted && formValidation['email'].errors" class="invalid-feedback">
                  <div *ngIf="formValidation['email'].errors['required']" class="text-white text-xs">Email is required</div>
                  <div *ngIf="formValidation['email'].errors['email']" class="text-white text-xs">Email is invalid</div>
                </div>
              </div>


              <div class="form-control w-full">
                <label for="password" class="label text-accent">Password</label>
                <input
                  id="password"
                  type="password"
                  required
                  class="input w-full h-10 text-white bg-accent bg-opacity-50 placeholder:text-accent"
                  placeholder="Password"
                  formControlName="password"
                />
                <div *ngIf="submitted && formValidation['password'].errors" class="invalid-feedback">
                  <div *ngIf="formValidation['password'].errors['required']" class="text-white text-xs">Password is required</div>
                </div>
              </div>



              <div class="flex justify-between my-1">
                <span></span>
                <span><label for="my-modal-6" class="link no-underline cursor-pointer text-accent">Forgot password?</label></span>
              </div>

            </div>

            <div>

          </div>

        </div>

        <div class="flex justify-center">
          <button type="submit" class="btn btn-sm btn-accent font-normal capitalize rounded-full w-28 mx-auto my-3 disabled:bg-accent disabled:bg-opacity-50">
            Sign in
          </button>
        </div>



      </form>
    </div>
  </div>



  <p class="text-center text-sm my-4">Don't have an account? <a
    class="link font-semibold no-underline w-28"
    [routerLink]="['/register']">
    Sign up</a></p>

</div>
<!-- <div class="footer hidden md:block w-full bg-accent h-44 fixed bottom-0 rounded-t-3xl px-40 py-3">




  <div class="flex flex-col">
    <h3 class="text font-semibold">Contact Us</h3>
    <p class="text">The Digital Academy <br> 7 Quince Street Milpark <br> Johannesburg 0258</p>
    <p class="text items-center"><i class="fi fi-rr-envelope text-xs my-auto"></i>&nbsp; <a class="my-auto" href="mailto:skoolify@outlook.com" target="_blank">skoolify@outlook.com</a></p>

  </div>

</div> -->

<img
class="logo-transparent hidden md:block fixed bottom-8 z-20 right-24 w-96"
id="logo"
src="../../../assets/Transparent Logo.png"
alt="Backimage"
/>
<input type="checkbox" id="my-modal-6" class="modal-toggle" />



<div class="modal modal-bottom sm:modal-middle">
  <div class="modal-box px-8">
    <h3 class="font-bold text-lg">Enter your email</h3>
    <form
    [formGroup]=" forgotPasswordForm"
    (ngSubmit)="onforgotPassword(forgotPasswordForm)"
    class="w-full mx-auto"> <!--  -->

   <div class="form-control">
    <label for="" class="label">Email address</label>
    <input
    [email]="true"
    formControlName="email"
    id="email-address"
    required
    class="input w-full h-12 bg-accent placeholder:text-"
    placeholder="Email address">
    <div *ngIf="submitted && forgotPasswordValidation['email'].errors" class="invalid-feedback">
      <div *ngIf="forgotPasswordValidation['email'].errors['required']" class="text-xs">Email is required</div>
      <div *ngIf="forgotPasswordValidation['email'].errors['email']" class="text-xs">Email is invalid</div>
    </div>
   </div>




    <div class="modal-action">
      <label for="my-modal-6" class="btn btn-primary capitalize font-normal rounded-2xl">Cancel</label>
      <button type="submit" class="btn btn-primary capitalize font-normal rounded-2xl">Submit</button>

    </div>
  </form>
    <!--  -->
  </div>
</div>
